body {
    font-family: Arial, sans-serif;
    background-color: white
    color: black;
    text-align: center;
}

h1 {
    margin-top: 20px;
    color: darkgoldenrod;
}

table {
    margin: 20px auto;
    width: 70%;
    border-collapse: collapse;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px 15px;
    text-align: center;
    border: 1px solid #ddd;
}

thead {
    background-color: darkgrey;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: ghostwhite;
}

tbody tr:hover {
    background-color: cyan;
}

th {
    font-size: 16px;
}

td {
    font-size: 16px;
}
